/* Typography */

.block-title {
  @apply text-primaryText text-3xl font-bold tracking-normal;
}
.block-big-title {
  @apply text-primaryText text-4xl xl:text-5xl font-bold tracking-normal;
}
.block-subtitle {
  @apply text-xs text-secondaryColor  tracking-wider font-bold uppercase;
}
.content-title {
  @apply text-primaryText text-lg font-bold tracking-normal;
}
.content-text-white {
  @apply text-primaryText text-base leading-relaxed;
}
.content-text-gray {
  @apply text-gray-400 text-base;
}

/* Borders */

.main-border-gray {
  @apply border border-solid border-mainBorder;
}
.main-border-gray-darker {
  @apply border border-solid border-mainBorderDarker;
}

/* Buttons */

.contained-button {
  @apply rounded-lg font-bold bg-secondaryColor text-primaryText flex justify-center items-center bg-[secondaryColor] transition duration-300 ease-out hover:bg-gradient-hover cursor-pointer;
}
.outlined-button {
  @apply text-primaryText main-border-gray rounded-xl bg-bgDark2 hover:bg-bgDark3  border-gray-700 text-sm;
}

/* Include the custom gradient animation CSS */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animated-gradient-text {
  background: linear-gradient(0deg, #00BFFF, #0E78F9);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
}
/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}
